language: node_js
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
node_js:
  - "4.5.0"
  - "4"
  - "5"
  - "6"
install:
  - npm install
  - npm install -g codecov
script:
  - npm run cover 
after_success:
  - npm run semantic-release
  - bash <(curl -s https://codecov.io/bash)
